@mixin font-face($family, $filename, $weight: normal, $style: normal) {
	@font-face {
		font-family: $family;
		src: url("../fonts/#{$filename}.woff2") format("woff2");
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
	}
}

@include font-face("Philosopher", "philosopher-regular", 400);
@include font-face("Philosopher", "philosopher-bold", 700);
@include font-face("AlegreyaSans", "alegreyasans-regular", 400);
@include font-face("Roboto", "roboto-regular", 400);
@include font-face("Roboto", "roboto-medium", 500);
@include font-face("Roboto", "roboto-bold", 700);
