body {
	margin: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: 400;
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,
h2,
h3 {
	margin: 0;
}

p {
	margin: 0;
}
