@use "./_variables" as *;

.about {
	padding-top: 56px;
	padding-bottom: 30px;

	@media (min-width: 768px) {
		padding-top: 45px;
		background-image: url("../img/horse-jump-tablet.jpg");
		background-repeat: no-repeat;
		background-position: 0 109px;
	}

	@media (min-width: 1440px) {
		padding: 0 300px;
		padding-top: 55px;
		background-image: url("../img/horse-jump-desktop.jpg");
		background-position: 0 175px;
	}

	@media (min-width: 1920px) {
		padding: 0 300px;
		padding-top: 55px;
		background-position: 145px 175px;
	}
}

.about__heading {
	margin-bottom: 35px;
	font-family: "Philosopher", "Arial", sans-serif;
	font-size: 21px;
	line-height: 21px;
	color: #363434;
	text-align: center;

	@media (min-width: 768px) {
		margin-bottom: 50px;
		font-size: 26px;
		line-height: 27px;
	}

	@media (min-width: 1440px) {
		font-size: 39px;
	}
}

.about__list {
	display: flex;
	flex-direction: column;
	gap: 40px;
	text-align: center;
	margin-bottom: 50px;

	@media (min-width: 768px) {
		margin-bottom: 35px;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 6px;
		width: 400px;
		margin-left: auto;
	}

	@media (min-width: 1440px) {
		width: 540px;
		margin-top: 88px;
	}

	@media (min-width: 1920px) {
		width: 613px;
		margin-top: 88px;
	}
}

.about__item {
	text-align: center;

	h3 {
		margin-bottom: 10px;
		font-family: "Philosopher", "Arial", sans-serif;
		font-size: 27px;
		line-height: 18px;
		color: $default-green;
	}

	p {
		padding: 0 30px;
		font-family: "Roboto", "Arial", sans-serif;
		font-size: 12px;
		line-height: 18px;
		font-weight: 500;
	}

	@media (min-width: 768px) {
		text-align: left;
		width: 180px;

		h3 {
			font-size: 32px;
			line-height: 160%;
		}

		p {
			padding: 0;
			font-size: 13px;
			line-height: 22px;
		}
	}

	@media (min-width: 1440px) {
		width: 256px;
		margin-bottom: 34px;

		h3 {
			font-size: 40px;
			line-height: 40px;
		}

		p {
			font-size: 17px;
			line-height: 26px;
		}
	}
}

.about__text {
	padding: 0 10px;
	font-size: 12px;
	line-height: 19px;
	color: #7e7e7e;

	@media (min-width: 768px) {
		padding: 0 20px;
	}

	@media (min-width: 1400px) {
		width: 540px;
		margin-left: auto;
		padding: 0 10px;
		font-size: 16px;
		line-height: 28px;
	}

	@media (min-width: 1920px) {
		width: 613px;
	}
}
