.contacts {
    padding-top: 319px;
    background-image: url('/img/map.jpg');
    background-repeat: no-repeat;
    background-color: #eaeaea;
}

.contacts__content {
    width: 300px;
    min-height: 359px;
    margin: 0 auto;
    padding: 30px 67px;
    background-color: #ffffff;
    border-radius: 5px;
}

.contacts__heading {
    
}