.features {
	margin-bottom: 60px;
	padding-top: 42px;
}

.features__heading {
	margin-bottom: 6px;
	text-align: center;
	font-size: 19px;
	line-height: 21px;
	color: #363434;
	font-weight: 400;
}

.features__subheading {
	text-align: center;
	color: #363434;
}

.features__list {
	text-align: center;
}

.features__item {
	padding: 0 10px;
	padding-top: 135px;
	position: relative;
	background-repeat: no-repeat;
	background-position: 50% 20%;

	&--distance {
		background-image: url("/img/distance.svg");
	}

	&--rest {
		background-image: url("/img/rest.svg");
	}

	&--clock {
		background-image: url("/img/clock.svg");
	}

	&--car {
		background-image: url("/img/car.svg");
	}

	h3 {
		font-weight: 500;
		color: #0b0b0b;
	}
}
