.feedback {
	padding: 100px 10px 20px;
	background-image: url("../img/feedback-bg.jpg");

	@media (min-width: 768px) {
		padding-bottom: 500px;
		background-image: url("../img/feedback-bg-tablet.jpg");
	}

	@media (min-width: 1440px) {
		padding: 141px 10px 120px 710px;
		background-image: url("../img/feedback-bg-desktop.jpg");
	}
}

.feedback__form {
	min-width: 300px;
	min-height: 425px;
	margin-bottom: 275px;
	padding: 40px 37px 20px;
	box-sizing: border-box;
	background-color: #ffffff;
	text-align: center;
	border-radius: 5px;

	@media (min-width: 768px) {
		width: 450px;
		margin: 0 auto;
		padding-top: 51px;
		padding-bottom: 64px;
	}

	@media (min-width: 1440px) {
		width: 470px;
	}
}

.feedback__heading {
	margin-bottom: 16px;
	color: #363434;
	font-size: 22px;
	line-height: 22px;
	font-weight: 400;
	font-family: "Philosopher", "Arial", sans-serif;

	@media (min-width: 768px) {
		font-size: 32px;
		line-height: 32px;
	}

	@media (min-width: 1440px) {
		margin-bottom: 10px;
		font-size: 35px;
		line-height: 52px;
	}
}

.feedback__text {
	margin-bottom: 22px;
	font-size: 12px;
	line-height: 20px;

	@media (min-width: 768px) {
		margin: 0 auto;
		margin-bottom: 26px;
		width: 294px;
		font-size: 13px;
		line-height: 21px;
		color: #7e7e7e;
	}

	@media (min-width: 1440px) {
		width: 334px;
		margin-bottom: 20px;
		font-size: 14px;
	}
}

.feedback__input {
	width: 225px;
	height: 50px;
	margin-bottom: 15px;
	font-size: 13px;
	line-height: 13px;
	color: #a5a5a5;
	padding: 19px 14px;
	border: 1px solid #8f8f8f;
	box-sizing: border-box;
	border-radius: 5px;

	@media (min-width: 768px) {
		width: 300px;
		height: 55px;
		padding: 19px 18px;
		font-size: 15px;
	}

	@media (min-width: 1440px) {
		width: 330px;
		height: 64px;
		font-size: 18px;
		line-height: 18px;
	}
}

.feedback__button {
	border: none;
	margin-top: 5px;
	margin-bottom: 23px;
	width: 225px;
	height: 45px;

	@media (min-width: 768px) {
		width: 300px;
		height: 69px;
		font-size: 14px;
	}

	@media (min-width: 1440px) {
		width: 333px;
	}
}

.feedback__checkbox {
	appearance: none;
	box-sizing: border-box;
	border: 1px solid #ffc700;
	border-radius: 2px;
	width: 15px;
	height: 15px;

	&:checked {
		box-sizing: border-box;
		border: 1px solid #ffc700;
		border-radius: 2px;
		width: 15px;
		height: 15px;
		background-position: 50% 50%;
		background-image: url("../img/ok.svg");
		background-repeat: no-repeat;
	}
}

.agree {
	font-size: 12px;
	line-height: 20px;
	color: #8a8a8a;
}

.feedback__label {
	display: flex;
	align-items: center;

	@media (min-width: 768px) {
		width: 240px;
		margin-left: 36px;
	}
}
