@use "./_variables" as *;

.header-wrap {
	padding-bottom: 230px;
	background-image: url("../img/header-bg.jpg");

	@media (min-width: 768px) {
		padding-bottom: 0;
		background-image: url("../img/header-bg-tablet.jpg");
	}

	@media (min-width: 1440px) {
		background-image: url("../img/header-bg-desktop.jpg");
		padding-bottom: 220px;
	}
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 14px 10px;
	margin-bottom: 75px;

	@media (min-width: 768px) {
		align-items: center;
		margin-bottom: 0;
		padding: 5px 20px;
	}

	@media (min-width: 1440px) {
		width: 1170px;
		margin: 0 auto;
	}
}

.header__logo {
	@media (min-width: 768px) {
		width: 120px;
		height: 39px;
		margin-right: 45px;
	}

	@media (min-width: 1440px) {
		width: 152px;
		height: 49px;
	}
}

.header__menu {
	display: flex;
	width: 77px;
	height: 29px;
	padding: 4px 0 4px 25px;
	background: none;
	border: 1px solid $default-green;
	border-radius: 3px;
	color: $default-black;
	font-size: 15px;
	line-height: 15px;
	position: relative;
	cursor: pointer;
	box-sizing: border-box;

	&::before {
		position: absolute;
		display: flex;
		content: "";
		width: 10px;
		height: 10px;
		background-image: url("../img/hamburger-mobile.svg");
		top: 8px;
		left: 9px;
	}

	@media (min-width: 768px) {
		display: none;
	}
}

.header__list {
	display: none;

	@media (min-width: 768px) {
		display: flex;
	}

	@media (min-width: 1440px) {
		margin-left: 169px;
	}
}

.header__link {
	padding: 10px 15px;
	text-transform: uppercase;
	text-decoration: none;
	color: $default-black;
	font-size: 11px;

	@media (min-width: 1440px) {
		font-size: 13px;
	}
}

.header__info {
	display: none;

	@media (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		width: 145px;
		padding-top: 20px;
		padding-left: 20px;
		box-sizing: border-box;
		position: relative;

		&::before {
			position: absolute;
			content: "";
			top: 25px;
			left: 0;
			width: 13px;
			height: 13px;
			display: block;
			background-image: url("../img/phone-header.svg");
		}
	}

	@media (min-width: 1440px) {
		padding-top: 0;
	}
}

.header__phone {
	text-decoration: none;
	color: $default-black;
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
}

.header__text {
	font-size: 11px;
	line-height: 20px;
	color: #7d808a;
}
