.promo {
	@media (min-width: 768px) {
		width: 430px;
		padding: 40px 40px 180px 20px;
	}

	@media (min-width: 1440px) {
		width: 1170px;
		margin: 0 auto;
		padding: 86px 452px 180px 0;
		box-sizing: border-box;
	}
}

.promo__heading {
	margin-bottom: 30px;
	font-size: 24px;
	line-height: 120%;
	font-family: "Philosopher", "Arial", sans-serif;
	font-weight: 700;
	color: #000000;
	text-align: center;
	position: relative;

	&::after {
		position: absolute;
		content: "";
		width: 15px;
		height: 1px;
		background-color: #8f8f8f;
		left: 153px;
		bottom: -14px;
	}

	@media (min-width: 768px) {
		margin-bottom: 21px;
		font-size: 37px;
		line-height: 110%;
		text-align: left;

		&::after {
			left: 0px;
			bottom: -31px;
		}
	}

	@media (min-width: 1440px) {
		font-size: 57px;
		line-height: 107%;
		margin-bottom: 44px;

		&::after {
			width: 25px;
			height: 3px;
			bottom: -60px;
		}
	}
}

.promo__text {
	margin-bottom: 25px;
	padding: 0 7px;
	font-family: "Alegreya Sans", "Arial", sans-serif;
	font-size: 11px;
	font-weight: 700;
	line-height: 18px;
	text-align: center;
	color: #646464;

	@media (min-width: 768px) {
		margin-bottom: 20px;
		padding: 0;
		padding-left: 25px;
		font-size: 13px;
		line-height: 22px;
		font-weight: 400;
		text-align: left;

		span {
			font-size: 16px;
			line-height: 22px;
			font-family: "Alegreya Sans", "Arial", sans-serif;
			font-weight: 700;
			color: #646464;
		}
	}

	@media (min-width: 1440px) {
		font-size: 24px;
		line-height: 120%;
		padding-left: 46px;
		margin-bottom: 49px;

		span {
			font-size: 24px;
		}
	}
}

.promo__button {
	@media (min-width: 768px) {
		margin: 0;
	}
}
