@use "./_variables" as *;

.reviews {
	padding: 65px 10px 20px;

	@media (min-width: 1440px) {
		padding: 115px 10px 20px;
	}
}

.reviews__heading {
	margin-bottom: 29px;
	text-align: center;
	color: #363434;
	font-weight: 400;
	font-size: 21px;
	line-height: 21px;
	font-family: "Philosopher", "Arial", sans-serif;

	@media (min-width: 1440px) {
		margin-bottom: 100px;
		font-size: 40px;
		line-height: 40px;
	}
}

.reviews__list {
	margin-bottom: 30px;

	@media (min-width: 768px) {
		display: flex;
		gap: 20px;
		margin: 0 20px;
	}

	@media (min-width: 1440px) {
		width: 1170px;
		margin: 0 auto;
		gap: 50px;
	}
}

.reviews__item {
	margin-bottom: 30px;
	min-width: 300px;
	min-height: 263px;
	padding: 20px 15px 15px;
	box-sizing: border-box;
	border: 1px solid #eaeaea;
	border-radius: 5px;
	background-image: url("../img/quote.svg");
	background-repeat: no-repeat;
	background-position: 95% 95%;

	@media (min-width: 768px) {
		width: 354px;
	}

	@media (min-width: 1440px) {
		width: 570px;
	}
}

.reviews__text {
	margin-bottom: 14px;
	font-size: 13px;
	line-height: 21px;

	@media (min-width: 1440px) {
		font-size: 15px;
		line-height: 24px;
	}
}

.reviews__button {
	display: block;
	width: 130px;
	height: 30px;
	margin: 0 auto;
	margin-bottom: 26px;
	padding-right: 50px;
	padding-left: 17px;
	font-size: 13px;
	line-height: 13px;
	color: $default-green;
	box-sizing: border-box;
	border: none;
	border-radius: 5px;
	background-color: #ffffff;
	position: relative;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
	cursor: pointer;

	&::after {
		position: absolute;
		content: "";
		top: 13px;
		right: 22px;
		width: 15px;
		height: 10px;
		background-image: url("../img/arrow-down.svg");
		background-repeat: no-repeat;
	}
}

.reviews__user {
	display: grid;
	grid-template-columns: 45px 1fr;
	grid-template-rows: 20px 25px;
	gap: 10px;
}

.reviews__name {
	font-size: 14px;
	line-height: 21px;
	color: #000000;
}

.social__list {
	display: flex;
	gap: 10px;
	grid-column: 2 / -1;
}

.reviews__slider-controls {
	display: flex;
	align-items: center;
	gap: 20px;
	width: 206px;
	height: 35px;
	margin-left: 47px;
	margin: 0 auto;

	@media (min-width: 768px) {
		margin-top: 40px;
		margin-bottom: 90px;
	}
}
