@use "./_variables" as *;

.variants-wrap {
	background-image: url("../img/block-4-bg.jpg");
	background-position: 100% 100%;
	background-repeat: no-repeat;

	@media (min-width: 768px) {
		background-image: url("../img/block-4-bg-tablet.jpg");
	}

	@media (min-width: 1440px) {
		background-size: cover;
		background-image: url("../img/block-4-bg-desktop.jpg");
	}
}

.variants {
	padding: 40px 10px;

	@media (min-width: 1440px) {
		padding: 133px 10px;
	}
}

.variants__heading {
	margin-bottom: 10px;
	text-align: center;
	font-size: 21px;
	line-height: 21px;
	font-family: "Philosopher", "Arial", sans-serif;
	color: #000000;
	font-weight: 400;

	@media (min-width: 768px) {
		font-size: 26px;
		line-height: 27px;
	}

	@media (min-width: 1440px) {
		margin-bottom: 21px;
		font-size: 40px;
		line-height: 43px;
	}
}

.variants__subheading {
	margin-bottom: 53px;
	font-size: 13px;
	line-height: 120%;
	color: #363434;
	text-align: center;

	@media (min-width: 1440px) {
		margin-bottom: 99px;
		font-size: 15px;
	}
}

.variants__list {
	display: flex;
	flex-direction: column;
	gap: 59px;
	padding-bottom: 30px;
	text-align: center;

	@media (min-width: 768px) {
		width: 650px;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 60px 40px;
		margin: 0 auto;
	}

	@media (min-width: 1440px) {
		width: 1170px;
		gap: 30px;
	}
}

.variants__item {
	width: 300px;
	min-height: 260px;
	padding: 0 10px;
	box-sizing: border-box;
	border: 1px solid #eaeaea;
	border-radius: 5px;
	position: relative;
	background-color: #ffffff;

	img {
		position: absolute;
		top: -20px;
		left: 25px;
	}

	@media (min-width: 1440px) {
		width: 370px;
		margin-bottom: 50px;

		img {
			width: 320px;
			height: 220px;
			top: -25px;
		}
	}
}

.variants__title {
	margin-top: 143px;
	margin-bottom: 17px;
	font-weight: 500;
	font-size: 14px;
	line-height: 25px;
	color: #363434;
	position: relative;

	&::after {
		position: absolute;
		content: "";
		left: 126px;
		bottom: -9px;
		width: 26px;
		height: 1px;
		background-color: $default-green;
		display: block;
	}

	@media (min-width: 1440px) {
		margin-top: 238px;
		margin-bottom: 50px;
		font-size: 23px;
		line-height: 23px;

		&::after {
			left: 162px;
			bottom: -26px;
		}
	}
}

.variants__text {
	margin-bottom: 25px;
	font-size: 13px;
	line-height: 20px;
	color: #7e7e7e;
}

.variants__button {
	margin-bottom: 110px;

	@media (min-width: 768px) {
		margin-bottom: 200px;
	}
}
